<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>n1</param-name>
    <param-value> 100 </param-value>
  </context-param>
  <context-param>
    <param-name>n2</param-name>
    <param-value> 200 </param-value>
  </context-param>
  <context-param>
    <param-name>avinash</param-name>
    <param-value> 2000 </param-value>
  </context-param>
  <context-param>
    <param-name>chandu</param-name>
    <param-value> 4000 </param-value>
  </context-param>
  <display-name>DemoServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>sampleDoGetDetails.jsp</welcome-file>
    <welcome-file>indexServletClass.jsp</welcome-file>
    <welcome-file>servletContecDemo.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>dopostDemo</servlet-name>
    <servlet-class>com.demo.servlets.SimpleDoPostExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dopostDemo</servlet-name>
    <url-pattern>/dopostDemo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dogetDemo</servlet-name>
    <servlet-class>com.demo.servlets.SimpleDoGetExample</servlet-class>
    <init-param>
      <param-name>Avi</param-name>
      <param-value>learning Java</param-value>
    </init-param>
    <init-param>
      <param-name>Sai</param-name>
      <param-value>learning Java</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dogetDemo</servlet-name>
    <url-pattern>/dogetDemo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletClass</servlet-name>
    <servlet-class>com.demo.servlets.servletClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletClass</servlet-name>
    <url-pattern>/servletClass.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletConfigDemo</servlet-name>
    <servlet-class>com.demo.servlets.ServletContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletConfigDemo</servlet-name>
    <url-pattern>/servletConfigDemo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.demo.servlets.FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.demo.servlets.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2.do</url-pattern>
  </servlet-mapping>
</web-app>